<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015 Cloudera, Inc. All rights reserved.
  -->

<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <property name="ACCESS_LOG_FILE" value="${ACCESS_LOG_FILE:-${LOG_DIR:-logs}/access.log}"/>
    <property name="FILE_LOG_PATTERN" value="combined"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${ACCESS_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${ACCESS_LOG_FILE}.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>50MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender-ref ref="STDOUT" />

</configuration>
